<!DOCTYPE html>
<html  lang="en">
<head>

<title>Abrir un lubricentro</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"    href="../css/base.css">
<link rel="stylesheet"    href="../css/vendor.css">  
<link rel="stylesheet"    href="../css/main.css">  

<link rel="stylesheet"    href="../css/faq.css">  
<link rel="stylesheet"    href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon"          href="favicon.ico" type="image/x-icon">
<script src="../js/src/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" 			href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
<script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>


<!-- Jquery3.4.1      --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- modernz infinity --><script src="../js/src/modernizr.js"></script>
<!-- pace infinity    --><script src="../js/src/pace.min.js"></script>
<!-- #rWPP            --><script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>


<!-- Event snippet for Whatsapp Button conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
   function gtag_report_conversion3(url) {
     var callback = function () {
       if (typeof(url) != 'undefined') {
         window.location = url;
       }
     };
     gtag('event', 'conversion', {
         'send_to': 'AW-963730457/IHweCOa9gPQCEJm4xcsD',
         'event_callback': callback
     });
     return false;
   }
   </script>


<!-- Global site tag (gtag.js) - Google Ads: 963730457 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-963730457"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-963730457');
</script>
<!-- Event snippet for Website sale conversion page -->
<script>
	gtag('event', 'conversion', {
		'send_to': 'AW-963730457/bIxHCP_s5OIBEJm4xcsD',
		'transaction_id': ''
	});
  </script>
  

</head>
<body >

    
<!-- NAV BAR
================================================== -->
<header>


	<a id="header-menu-trigger" href="#0">
		  <span class="header-menu-text">Menu</span>
		   <span class="header-menu-icon"></span>
	</a> 
	<nav id="menu-nav-wrap">
		<a href="#0" class="close-button" title="close"><span>Close</span></a>	
		<h3>Renova</h3>  
		<ul class="nav-list">
			<li><a class="" href="../../index.html" 		title="">Home</a></li>
			<li><a class="" href="listas.html"				title="">Listas</a></li>
			<li><a class="" href="login.html" 			title="">Ofertas</a></li>
			<li><a class="" href="faq.html" 				title="">Abrir un lubricentro</a></li>
						
		</ul>		
	 </nav>  <!-- end #menu-nav-wrap -->

</header> <!-- end header --> 

    
<!-- HOME
================================================== -->
<section id="home" height=20px>
	<div class="overlay"></div>
   			<div class="home-content-table">	
			   	<div class="home-content-tablecell">
					<div class="row">
			   			<div class="col-twelve">			
                        <h1>Abrir un lubricentro</h1>
                            <h2 id="titulo" class="section-intro animate-this">
                                Te listamos las preguntas mas frecuentes que pueden surgir a la hora de embarcarse
                                en la apertura de un lubricentro. Las mismas son a modo orintativo. Para un mayor detalle
                                no dudes en contactarnos<br></h2>
                            <div style="margin-top: 2rem; text-align: center;">
                                <a href="https://wa.me/5491165106333" target="_blank" class="button stroke" style="display: inline-block; padding: 1rem 2rem; text-decoration: none;">
                                    Más información
                                </a>
                            </div>
						  	<h3 id="descripcion" class="animate-intro"><br></h3>
						
					  	</div> <!-- end col-twelve --> 
			   		</div> <!-- end row --> 
				</div> <!-- end home-content-tablecell --> 		   
			</div> <!-- end home-content-table -->
</section>





	<!-- RESUMEN
================================================== -->
<section>
	<div class="home-content-table">	
		<div class="home-content-tablecell">
		 <div class="row">
				<div class="col-twelve" id="campoParrafo" style="padding:0 1rem;">
					
				 <h3></h3>
			   </div> <!-- end col-twelve --> 
			</div> <!-- end row --> 
	 </div> <!-- end home-content-tablecell --> 		   
 </div>
</section>


    
<!-- VIDEOS
================================================== -->
<div  class="seccionfull" style="padding:0 !important">
	<div><iframe width="640" height="360" src="https://www.youtube.com/embed/nho_k5NQR4Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	<div><iframe width="441" height="360" src="https://www.youtube.com/embed/4Geyb8FKzvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	<div><iframe width="640" height="360" src="https://www.youtube.com/embed/cFB69J3LirI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>







<!-- FAQ
================================================== -->
<section class="container" id="services" style="padding:5%" height="100%">
<div class="overlay">
<div class="gradient-overlay">
	<div class="row narrow section-intro with-bottom-sep animate-this">
		<h1 style="color:white;padding:3rem;">Pregutnas Frecuentes</h1>
		<div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Margenes del negocio</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">La principal diferencia entre un aceite sintético y semi-sintético radica en los componentes de fabricación</p>
		</div>
      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Ubicacion del negocio</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">La ubicación es algo fundamental para este tipo de locales. Debe ser de fácil acceso y en un zona transitada o alrededores</p>
		</div>


      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Stock inicialMargenes del negocio</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">El stock incial de un lubricentro se va a basar preferentemente en el parque automotor más solicitado o adquirido en el país/provincia que el lubricentro se encuentre. Siempre recomendamos a los clientes que analicen el movimiento en la zona que se desea abrir el local primero.</p>
		</div>


      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Equipamiento para la abertura</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">El equipamiento es la imagen, por así decirlo, del local. Si el cliente ve el local bien equipado y prolijo eso le genera confianza y, por ende, ganas de preguntar o realizar el arreglo de su vehículo.</p>
		</div>




      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Todos los aceites son iguales?</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">No todos los aceites son iguales. Por densidad, por tipo de aceite (mineral, semi-sintético, sintético),normas que cumplen según marcas y también las bases modifican si son nacionales o importados y, en este caso, tambíen van a modificar los valores por las mismas caraterísticas antes mencionadas. Los vehículos salen de fábrica con lubricantes recomendados y generalmente los clientes prefieren respetar esa recomendación para evitar problemas y el local debe poder brindarle ese abanico de posibilidades.</p>
		</div>

      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Bidon vs tambor</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">Como en la mayoría de los comercios comprar por más cantidad de un mismo producto es más económico. El aceite envasado es más caro que los baldes o tambores pero le brinda una mayor confianza al cliente y en algún punto es más fácil llevar el control de stock y reposición.</p>
		</div>

      <div class="col-full" id="campoPreguntas">
			<h3 id="tituloSeccion2" style="color:rgb(126, 126, 126)">Productos compelementarios</h3>
			<p id="descSeccion2" style="color:rgb(238, 238, 238)">Esto es algo similar al ítem descripto anteriormente de primera y segundas marcas, brindar un abanico más amplio de mercadería, va a darle al cliente la posibilidad de poder encontrar todo en un lugar y no tener que estar desplazandose por varios comercios para realizarle un service al auto. Algunos ejemplos podrían ser: baterías, luces, matafuegos, etc.</p>
		</div>



      




	</div>
</div>

</section>

<div id="WAButton"
   style="font-family: Arial, Helvetica, sans-serif; z-index:1003;position:fixed;bottom:2rem;right:2rem;opacity:0.7;">

</div>
<button id="WAButton" onclick="return gtag_report_conversion3();" style="z-index:1001">
   <img id="WAButton" src="../images/whatsapp.png" style="height:40px; 
      width:40px;
      position:fixed;
      bottom:4rem;
      right:3rem;
      z-index:1001" />
</button>
</body>


<!-- Java Script
================================================== --> 
<script  src="../js/faq.js"></script> 
<script  src="../js/src/plugins.js"></script>
<script  src="../js/src/main.js"></script>
<script  src="../js/indexService.js"></script>


</html>

